{
    "env": {
        "es6": true,
        "node": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaversion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "arrowfunctions": true,
            "modules": true
        }
    },
    "globals": {
        "__webpack_public_path__": true
    },
    "rules": {
        "no-console": "off",
        "comma-dangle": ["error", "never"],
        "no-cond-assign": ["error", "except-parens"],
        "no-constant-condition": "error",
        "no-control-regex": "error",
        "no-debugger": "error",
        "no-dupe-args": "error",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-empty": "error",
        "no-empty-character-class": "error",
        "no-ex-assign": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-semi": "error",
        "no-extra-parens": "error",
        "no-func-assign": "error",
        "no-inner-declarations": ["error", "functions"],
        "no-invalid-regexp": "error",
        "no-irregular-whitespace": "error",
        "no-negated-in-lhs": "error",
        "no-obj-calls": "error",
        "no-regex-spaces": "error",
        "no-sparse-arrays": "error",
        "no-unexpected-multiline": "error",
        "no-unreachable": "error",
        "use-isnan": "error",
        "valid-jsdoc": ["error", {
            "prefer": {
                "return": "return"
            },
            "preferType": {
                "String": "string",
                "Object": "Object"
            },
            "requireReturn": false,
            "requireParamDescription": true,
            "requireReturnDescription": true,
            "requireReturnType": true,
        }],
        "valid-typeof": "error",
        "accessor-pairs": ["error", {"setWithoutGet": true}],
        "array-callback-return": "error",
        "block-scoped-var": "error",
        "complexity": ["warn", {"max": 8}],
        "consistent-return": "error",
        "curly": ["error", "multi-line"],
        "default-case": "off",
        "dot-location": ["error", "property"],
        "dot-notation": ["error", {"allowKeywords": true}],
        "eqeqeq": "error",
        "guard-for-in": "error",
        "no-alert": "error",
        "no-caller": "error",
        "no-case-declarations": "error",
        "no-div-regex": "error",
        "no-else-return": "error",
        "no-empty-function": "error",
        "no-empty-pattern": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-extra-label": "error",
        "no-fallthrough": "error",
        "no-floating-decimal": "error",
        "no-implicit-coercion": "error",
        "no-implicit-globals": "error",
        "no-implied-eval": "error",
        "no-invalid-this": "error",
        "no-iterator": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-magic-numbers": ["warn", {"ignore": [0, 1]}],
        "no-multi-spaces": "error",
        "no-multi-str": "error",
        "no-native-reassign": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-octal": "error",
        "no-octal-escape": "error",
        "no-param-reassign": "error",
        "no-proto": "error",
        "no-redeclare": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-self-assign": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "error",
        "no-unused-expressions": "error",
        "no-unused-labels": "error",
        "no-useless-call": "error",
        "no-useless-concat": "error",
        "no-useless-escape": "error",
        "no-void": "error",
        "no-warning-comments": "warn",
        "no-with": "error",
        "radix": "error",
        "vars-on-top": "error",
        "wrap-iife": ["error", "outside"],
        "yoda": "error",
        "init-declarations": "off",
        "no-catch-shadow": "error",
        "no-delete-var": "error",
        "no-label-var": "error",
        "no-restricted-globals": "error",
        "no-shadow": "error",
        "no-shadow-restricted-names": "error",
        "no-undef": "error",
        "no-undef-init": "error",
        "no-undefined": "error",
        "no-unused-vars": "error",
        "no-use-before-define": "off",
        "array-bracket-spacing": ["error", "never"],
        "block-spacing": ["error", "always"],
        "brace-style": ["error", "1tbs"],
        "camelcase": ["error", {"properties": "always"}],
        "comma-spacing": ["error", {
            "before": false,
            "after": true
        }],
        "comma-style": ["error", "last"],
        "computed-property-spacing": ["error", "never"],
        "consistent-this": ["error", "that"],
        "eol-last": "error",
        "func-names": "off",
        "func-style": "off",
        "id-blacklist": "off",
        "id-length": "off",
        "id-match": "off",
        "indent": ["error", 4],
        "jsx-quotes": ["error", "prefer-double"],
        "key-spacing": ["error", {
            "beforeColon": false,
            "afterColon": true,
            "mode": "strict"
        }],
        "keyword-spacing": ["error", {
            "before": true,
            "after": true,
            "overrides": {
                "if": {"after": false},
                "for": {"after": false},
                "switch": {"after": false},
                "while": {"after": false}
            },
        }],
        "linebreak-style": "off",
        "lines-around-comment": ["error", {
            "beforeBlockComment": true,
            "afterBlockComment": false,
            "allowBlockStart": true,
            "allowObjectStart": true,
            "allowArrayStart": true
        }],
        "max-depth": ["error", {"max": 10}],
        "max-len": ["off", {
            "code": 140,
            "comments": 140,
            "tabWidth": 4,
            "ignoreUrls": true
        }],
        "max-nested-callbacks": ["warn", {"max": 3}],
        "max-params": ["warn", {"max": 6}],
        "max-statements": ["warn", {"max": 40}],
        "max-statements-per-line": ["warn", {"max": 6}],
        "new-parens": "error",
        "newline-after-var": "off",
        "newline-before-return": "off",
        "newline-per-chained-call": ["warn", {"ignoreChainWithDepth": 3}],
        "no-array-constructor": "error",
        "no-bitwise": "error",
        "no-continue": "error",
        "no-inline-comments": "off",
        "no-lonely-if": "error",
        "no-mixed-spaces-and-tabs": "error",
        "no-multiple-empty-lines": ["error", {
            "max": 2,
            "maxBOF": 0,
            "maxEOF": 1
        }],
        "no-negated-condition": "off",
        "no-nested-ternary": "off",
        "no-new-object": "error",
        "no-plusplus": "off",
        "no-restricted-syntax": ["error", "WithStatement"],
        "no-spaced-func": "error",
        "no-ternary": "off",
        "no-trailing-spaces": "error",
        "no-underscore-dangle": ["error", {"allowAfterThis": true}],
        "no-unneeded-ternary": "error",
        "no-whitespace-before-property": "error",
        "one-var": ["error", "never"],
        "one-var-declaration-per-line": "off",
        "operator-assignment": "off",
        "operator-linebreak": ["error", "after", {
            "overrides": {
                "?": "after",
                ":": "after"
            },
        }],
        "padded-blocks": ["error", "never"],
        "quote-props": ["error", "as-needed", {"keywords": true, "unnecessary": false}],
        "quotes": [2, "double", "avoid-escape"],
        "require-jsdoc": "off",
        "semi": ["error", "always"],
        "semi-spacing": ["error", {"before": false, "after": true}],
        "sort-imports": "off",
        "sort-vars": "off",
        "space-before-blocks": ["error", "always"],
        "space-before-function-paren": ["error", "never"],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": "error",
        "space-unary-ops": ["error", {
            "words": true,
            "nonwords": false
        }],
        "wrap-regex": "off",
        "arrow-body-style": ["error", "as-needed"],
        "arrow-spacing": ["error", {"before": true, "after": true}],
        "constructor-super": "error",
        "no-class-assign": "error",
        "no-confusing-arrow": ["error", {"allowParens": true}],
        "no-const-assign": "error",
        "no-dupe-class-members": "error",
        "no-duplicate-imports": "error",
        "no-new-symbol": "error",
        "no-restricted-imports": "off",
        "no-this-before-super": "error",
        "no-useless-constructor": "error",
        "no-var": "warn",
        "prefer-arrow-callback": "error",
        "prefer-const": "warn",
        "prefer-reflect": "off",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "off",
        "require-yield": "error",
        "template-curly-spacing": ["error", "never"],
        "yield-star-spacing": ["error", {"before": false, "after": true}],

        "babel/object-curly-spacing": [2, "never"],
        "babel/arrow-parens": [2, "as-needed"],
        "babel/array-bracket-spacing": [2, "never"],
        "babel/generator-star-spacing": [2, {"before": false, "after": true}],
        "babel/object-shorthand": [2, "always"],
        "babel/no-await-in-loop": 1,
        "babel/new-cap": 2,
        "babel/flow-object-type": 0
    },
    "plugins": [
        "babel"
    ]
}
